<article>
  <figure class="bg-dark text-white">
      <!-- <img src="images/dendro.jpg" alt="Servicios de paginas con HTML5"> -->
      <h3>
          Experiencia
      </h3>
      <p>
      2021-2022
      <br>
      * Consultores Contables
      <br>
      </p>
      <h6>
        Funciones

      </h6>
      <p>
        Asistencia  técnica Tango software, resolución de problemas, implementación Tango software además de migraciones de bases de datos. Desarrollo de soluciones para clientes como generación de archivos en formatos específicos para aplicativo Banco Macro,  o programas de funciones básicas en C# y SQL server.
      </p>
  </figure>
  <figure class="bg-dark text-white">
    <!-- <img src="images/dendro.jpg" alt="Servicios de paginas con HTML5"> -->
    
    <p>
        <u> 
            2021 Noviembre-2019 Agosto 
        </u>
   

    <br>
    * IDM-Sistemas, TaquionIT
    <br>
    </p>
    <h6>
      Funciones

    </h6>
    <p>
        Área técnica:
         Ensamblado y mantenimientos de pc detección de errores en hardware.
         <br>
        Área de desarrollo: 
        Testeo, desarrollo en active Reports (identificación de problemáticas y mejoras desarrollo de script y planteamiento del problema-solución en conjunto con área desarrollo). Manipulación de bases de datos SQL server, generación de consultas para solución de errores implementación de migraciones, sincronización de mezcla y transaccional. Implementación del sistema Wynges-Prana además de su asistencia técnica.
        
    </p>
</figure>
<figure class="bg-dark text-white">
    <!-- <img src="images/dendro.jpg" alt="Servicios de paginas con HTML5"> -->
    
    <p>
        <u> 
            2019 Enero-Marzo 
        </u>
   

    <br>
    * Coordinador Punto Digital Caraguatay 
    <br>
    </p>
    <h6>
      Funciones

    </h6>
    <p>
        Capacitación-alfabetización digital, de software base y de aplicación, paquete Microsoft office. o Consultas como intermediario ANSES, AFIP. o Asistencia y soluciones técnicas en software. o Coordinación e implementación de actividades socio-comunitarias en base a la tecnología en la comunidad.
    </p>
</figure>


</article>
