<nav  class="navbar navbar-expand-lg navbar-dark bg-dark   sticky-top py-1 ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-dark bg-dark text-white" id="navbarNavDarkDropdown">
        <div class="navbar navbar-dark bg-dark" href="#">
            <ul class="nav navbar-dark bg-dark">
                <li><a class="btn-sm dropdown-item text-white" href="">Inicio</a></li>
                <li><a class="btn-sm dropdown-item text-white" href="">Acerca de</a></li>
                <li><a class="btn-sm dropdown-item text-white nav-link active" href="">Experiencia</a></li>
                <li><a class="btn-sm dropdown-item text-white" href="">Educacion</a></li>
                <li><a class="btn-sm dropdown-item text-white" href="">Proyectos</a></li>
                <li><a class="btn-sm dropdown-item text-white " href="">ll</a></li>

            </ul>
        </div>
    </div>
    <a class="nav navbar-nav navbar-right" href="https://www.facebook.com/fabian.cabanas.3979/">facebook</a>

</nav>

<section class=" text-white">
    <img class="imgfondo" src="./assets/RCXfgB.png">
    
    <img class="imgRedonda " src="./assets/perfil.jpg">
    
</section>
<div class="container text-white">
<br>
    <u>
        <H2>Cabañas Fabián Gustavo</H2>
    </u>
</div>