<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="esto aparece en la descripcion de la pagina en la busqueda de google">

    <title>Portfolio</title>

</head>

<body class="bg-dark" style="height: 100% ;">
    <app-com-encabezado></app-com-encabezado>
    <header>

    </header>
    <main>
        <div class="container">
        <app-com-acerca-de></app-com-acerca-de>
        <br>
        <app-com-experiencia></app-com-experiencia>
        <app-com-educacion></app-com-educacion>
        <app-com-proyectos></app-com-proyectos>
    </div>

    </main>
</body>

</html>